annotated-types==0.6.0
anyio==4.2.0
anywidget==0.8.0
appdirs==1.4.4
asgiref==3.7.2
asttokens==2.4.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
decorator==5.1.1
executing==2.0.1
h11==0.14.0
htmltools==0.5.1
idna==3.6
ipython==8.20.0
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
jupyterlab-widgets==3.0.9
linkify-it-py==2.0.2
maplibre @ git+https://github.com/eodaGmbH/py-maplibregl@b29bdb2a11e1d6caed07ea9104248aec0a57e63c
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.2
parso==0.8.3
prompt-toolkit==3.0.43
psygnal==0.9.5
pure-eval==0.2.2
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
python-multipart==0.0.6
questionary==2.0.1
requests==2.31.0
setuptools==69.0.3
shiny==0.6.1.1
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
starlette==0.34.0
traitlets==5.14.1
typing_extensions==4.9.0
uc-micro-py==1.0.2
urllib3==2.1.0
uvicorn==0.25.0
waiter @ git+https://github.com/eodaGmbH/py-waiter@1cbc6b9028ee087a9c65330bd54c3536ac9d66ac
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
wheel==0.42.0
widgetsnbextension==4.0.9
